<mat-card class="visualizer-card">
  <mat-card-header>
    <mat-card-title>
      Attention Weights Visualizer
    </mat-card-title>

    <button (click)="clearVisualization()" *ngIf="attentionEntries$ | async" mat-icon-button matTooltip="Clear">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content>
    <app-file-picker *ngIf="!(attentionEntries$ | async)"></app-file-picker>

    <app-visualizer *ngIf="attentionEntries$ | async as entries" [entry]="entries[currentIndex]"></app-visualizer>
  </mat-card-content>

  <mat-card-actions>
    <app-paginator (next)="nextEntry()" (previous)="prevEntry()"
                   *ngIf="attentionEntries$ | async as entries" [currentIndex]="currentIndex"
                   [totalItems]="entries.length">
    </app-paginator>
  </mat-card-actions>
</mat-card>
